#root {
  max-width: 100vw;
  min-width: 94vw;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 7px;
  text-shadow: 1px 1px 11px black;
  border: #3a025796 solid 2px;
  background-color: #12151c;
}

body {
  
  background-color: 	#000016ce;
}

.navBar {
  background-color: #040038;
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin-top: 2px;
}

.footer{
  background-image: image("https://i.imgflip.com/5otvtn.png");
  background-color: #040038;
  display: table;
  position: relative bottom;
  width: 100%;
  margin-bottom: 2px;
  #table{
    width: 100%;
    padding: 2px;
    padding-left: 5px;
    justify-content: space-evenly;
    #stare{
      padding-left: 0px;
    }
  }
  #chair{
    float: right;
  }
}

.gameBox{
  background-color: #12151c;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gameCard {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: 4px rgb(97, 0, 0) solid;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  padding-bottom: 12px;
  background-color: #531516;
  width: 42vw;
  min-width: 475px;
  max-width: 510px;

  h1{
    font-size: 26px;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 2px;
  }
  h3{
    margin-top: 1px;
    font-size: 19px;
  }

  #gameTable{
    table-layout: fixed;
    width: 40vw;
    min-width: 455px;
    max-width: 485px;
    max-height: 180px;
    background-color: #800000;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 13%;
    padding-left: 5px;
    padding-right: 7px;
    img {
      float: inline-start;
      margin-left: 0px;
      margin-right: 15px;
      height: 105px;
    }
    #devNames{
      margin: 0px;
    }
  }

  #gameHeader{
    text-align: center;
  }
}